

<p><%= @question %></p>
<p>You</p>

<p>
  <% if @question == "I am going to work" %>
    <%= "Great!" %>
  <% elsif @question.include? "?" %>
    <%= "Silly question, get dressed and go to work!" %>
  <% else %>
    <%= "I don't care, get dressed and go to work!" %>
  <% end %>
</p>
<p>Your coach</p>

<%= link_to "Ask a new question", ask_path %>
